Miron Banjac - Abh Data Analytics Internship

Currently on task 1 writing modulated code in for each analyser to be used.

In [2]:
import numpy as np
import pandas as pd
#import requests
from urllib.request import urlopen
import json

chicago_api = urlopen('https://data.cityofchicago.org/resource/uupf-x98q.json')
chicago_json = json.loads(chicago_api.read())
#after json.loads can use pandas.DataFrame.from_dict() to convert JSON to DataFrame
#print(pd.json_normalize(chicago_json))
data_limited = pd.read_json('https://data.cityofchicago.org/resource/uupf-x98q.json')
data = pd.read_csv('Business_Licenses_-_Current_Active.csv', low_memory=False)
#data = pd.json_normalize(chicago_json)
print(data.shape)

data.columns

(57369, 34)

Index(['ID', 'LICENSE ID', 'ACCOUNT NUMBER', 'SITE NUMBER', 'LEGAL NAME',
       'DOING BUSINESS AS NAME', 'ADDRESS', 'CITY', 'STATE', 'ZIP CODE',
       'WARD', 'PRECINCT', 'WARD PRECINCT', 'POLICE DISTRICT', 'LICENSE CODE',
       'LICENSE DESCRIPTION', 'BUSINESS ACTIVITY ID', 'BUSINESS ACTIVITY',
       'LICENSE NUMBER', 'APPLICATION TYPE', 'APPLICATION CREATED DATE',
       'APPLICATION REQUIREMENTS COMPLETE', 'PAYMENT DATE',
       'CONDITIONAL APPROVAL', 'LICENSE TERM START DATE',
       'LICENSE TERM EXPIRATION DATE', 'LICENSE APPROVED FOR ISSUANCE',
       'DATE ISSUED', 'LICENSE STATUS', 'LICENSE STATUS CHANGE DATE', 'SSA',
       'LATITUDE', 'LONGITUDE', 'LOCATION'],
      dtype='object')

In [3]:
#making first wrapper function for task 1 analysis

from statistics import mean

def function_property_of_column(func, column_name):
    return func(data[column_name])

print(function_property_of_column(mean, 'SITE NUMBER'))
print(mean(data['SITE NUMBER']))

6.277327476511705
6.277327476511705

In [4]:
#first analysis: missing values and types

#print(data.head())
data.info()
#Alternatively can use just .count() to get the number of non-missing values for each column
#print(data.count())


data.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57369 entries, 0 to 57368
Data columns (total 34 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   ID                                 57369 non-null  object
 1   LICENSE ID                         57369 non-null  int64
 2   ACCOUNT NUMBER                     57369 non-null  int64
 3   SITE NUMBER                        57369 non-null  int64
 4   LEGAL NAME                         57369 non-null  object
 5   DOING BUSINESS AS NAME             57290 non-null  object
 6   ADDRESS                            57369 non-null  object
 7   CITY                               57369 non-null  object
 8   STATE                              57369 non-null  object
 9   ZIP CODE                           57359 non-null  object
 10  WARD                               52958 non-null  float64
 11  PRECINCT                           40258 non-null  float64
 12  WARD PRECINCT                      52958 non-null  object
 13  POLICE DISTRICT                    40683 non-null  float64
 14  LICENSE CODE                       57369 non-null  int64
 15  LICENSE DESCRIPTION                57369 non-null  object
 16  BUSINESS ACTIVITY ID               52145 non-null  object
 17  BUSINESS ACTIVITY                  52145 non-null  object
 18  LICENSE NUMBER                     57369 non-null  int64
 19  APPLICATION TYPE                   57369 non-null  object
 20  APPLICATION CREATED DATE           12200 non-null  object
 21  APPLICATION REQUIREMENTS COMPLETE  57365 non-null  object
 22  PAYMENT DATE                       57259 non-null  object
 23  CONDITIONAL APPROVAL               57369 non-null  object
 24  LICENSE TERM START DATE            57368 non-null  object
 25  LICENSE TERM EXPIRATION DATE       57369 non-null  object
 26  LICENSE APPROVED FOR ISSUANCE      55745 non-null  object
 27  DATE ISSUED                        57369 non-null  object
 28  LICENSE STATUS                     57369 non-null  object
 29  LICENSE STATUS CHANGE DATE         0 non-null      float64
 30  SSA                                15026 non-null  float64
 31  LATITUDE                           52108 non-null  float64
 32  LONGITUDE                          52108 non-null  float64
 33  LOCATION                           52108 non-null  object
dtypes: float64(7), int64(5), object(22)
memory usage: 14.9+ MB

ID                                    object
LICENSE ID                             int64
ACCOUNT NUMBER                         int64
SITE NUMBER                            int64
LEGAL NAME                            object
DOING BUSINESS AS NAME                object
ADDRESS                               object
CITY                                  object
STATE                                 object
ZIP CODE                              object
WARD                                 float64
PRECINCT                             float64
WARD PRECINCT                         object
POLICE DISTRICT                      float64
LICENSE CODE                           int64
LICENSE DESCRIPTION                   object
BUSINESS ACTIVITY ID                  object
BUSINESS ACTIVITY                     object
LICENSE NUMBER                         int64
APPLICATION TYPE                      object
APPLICATION CREATED DATE              object
APPLICATION REQUIREMENTS COMPLETE     object
PAYMENT DATE                          object
CONDITIONAL APPROVAL                  object
LICENSE TERM START DATE               object
LICENSE TERM EXPIRATION DATE          object
LICENSE APPROVED FOR ISSUANCE         object
DATE ISSUED                           object
LICENSE STATUS                        object
LICENSE STATUS CHANGE DATE           float64
SSA                                  float64
LATITUDE                             float64
LONGITUDE                            float64
LOCATION                              object
dtype: object

In [5]:
#go through each column in pandas dataframe and, for object type, describe them, for int and float types, give a summary.

for column in data:
    print(data[column].describe())

#print(data['LONGITUDE'].describe())
#print(data['LATITUDE'].describe())

count                57369
unique               57368
top       2823191-20211208
freq                     2
Name: ID, dtype: object
count    5.736900e+04
mean     2.786946e+06
std      3.632965e+04
min      2.102725e+06
25%      2.757683e+06
50%      2.787988e+06
75%      2.816571e+06
max      2.851375e+06
Name: LICENSE ID, dtype: float64
count     57369.000000
mean     307456.862068
std      164575.002892
min           1.000000
25%      214704.000000
50%      372433.000000
75%      430228.000000
max      486617.000000
Name: ACCOUNT NUMBER, dtype: float64
count    57369.000000
mean         6.277327
std         29.002589
min          1.000000
25%          1.000000
50%          1.000000
75%          2.000000
max        589.000000
Name: SITE NUMBER, dtype: float64
count            57369
unique           39460
top       WALGREEN CO.
freq               204
Name: LEGAL NAME, dtype: object
count      57290
unique     41940
top       SUBWAY
freq         123
Name: DOING BUSINESS AS NAME, dtype: object
count                      57369
unique                     43306
top       [REDACTED FOR PRIVACY]
freq                         930
Name: ADDRESS, dtype: object
count       57369
unique        951
top       CHICAGO
freq        52938
Name: CITY, dtype: object
count     57369
unique       50
top          IL
freq      56048
Name: STATE, dtype: object
count     57359
unique     1220
top       60609
freq       2031
Name: ZIP CODE, dtype: object
count    52958.000000
mean        27.690056
std         14.892948
min          1.000000
25%         14.000000
50%         29.000000
75%         42.000000
max         50.000000
Name: WARD, dtype: float64
count    40258.000000
mean        26.265239
std         43.623872
min          1.000000
25%         12.000000
50%         24.000000
75%         37.000000
max       4047.000000
Name: PRECINCT, dtype: float64
count     52958
unique     2536
top         42-
freq       2022
Name: WARD PRECINCT, dtype: object
count    40683.000000
mean        12.939213
std          7.081212
min          0.000000
25%          8.000000
50%         14.000000
75%         18.000000
max         81.000000
Name: POLICE DISTRICT, dtype: float64
count    57369.000000
mean      2124.044920
std       1939.043059
min       1003.000000
25%       1010.000000
50%       1010.000000
75%       1781.000000
max       8604.000000
Name: LICENSE CODE, dtype: float64
count                        57369
unique                          55
top       Limited Business License
freq                         18928
Name: LICENSE DESCRIPTION, dtype: object
count     52145
unique     2295
top         775
freq       5152
Name: BUSINESS ACTIVITY ID, dtype: object
count                                52145
unique                                2295
top       Retail Sales of Perishable Foods
freq                                  5152
Name: BUSINESS ACTIVITY, dtype: object
count    5.736900e+04
mean     2.136132e+06
std      8.280790e+05
min      1.490000e+02
25%      2.003198e+06
50%      2.437278e+06
75%      2.699482e+06
max      2.851375e+06
Name: LICENSE NUMBER, dtype: float64
count     57369
unique        6
top       RENEW
freq      45155
Name: APPLICATION TYPE, dtype: object
count          12200
unique           781
top       02/23/2022
freq              64
Name: APPLICATION CREATED DATE, dtype: object
count          57365
unique           749
top       05/15/2021
freq            2283
Name: APPLICATION REQUIREMENTS COMPLETE, dtype: object
count          57259
unique           927
top       07/15/2021
freq             436
Name: PAYMENT DATE, dtype: object
count     57369
unique        2
top           N
freq      56888
Name: CONDITIONAL APPROVAL, dtype: object
count          57368
unique           542
top       07/16/2021
freq            2349
Name: LICENSE TERM START DATE, dtype: object
count          57369
unique           135
top       11/15/2022
freq            2861
Name: LICENSE TERM EXPIRATION DATE, dtype: object
count          55745
unique           785
top       11/15/2021
freq             436
Name: LICENSE APPROVED FOR ISSUANCE, dtype: object
count          57369
unique           576
top       11/16/2021
freq             404
Name: DATE ISSUED, dtype: object
count     57369
unique        1
top         AAI
freq      57369
Name: LICENSE STATUS, dtype: object
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: LICENSE STATUS CHANGE DATE, dtype: float64
count    15026.000000
mean        29.176827
std         17.101889
min          1.000000
25%         17.000000
50%         29.000000
75%         39.000000
max         69.000000
Name: SSA, dtype: float64
count    52108.000000
mean        41.879391
std          0.077037
min         41.644670
25%         41.832033
50%         41.889894
75%         41.935692
max         42.022660
Name: LATITUDE, dtype: float64
count    52108.000000
mean       -87.676037
std          0.056167
min        -87.933977
25%        -87.708339
50%        -87.666494
75%        -87.634839
max        -87.524804
Name: LONGITUDE, dtype: float64
count                                      52108
unique                                     31269
top       (41.81944142629576, -87.6653755449091)
freq                                         734
Name: LOCATION, dtype: object

In [6]:
#frequency of different observations for each column in data

for column in data:
    print(data[column].value_counts())

2823191-20211208    2
2850614-20220527    1
1622615-20210916    1
1446227-20210916    1
2797610-20210831    1
                   ..
2073612-20210116    1
1880003-20220116    1
2130243-20220116    1
2767249-20210115    1
2189662-20221016    1
Name: ID, Length: 57368, dtype: int64
2850614    1
2800243    1
2797610    1
2808610    1
2798402    1
          ..
2820970    1
2821237    1
2767249    1
2762084    1
2839926    1
Name: LICENSE ID, Length: 57369, dtype: int64
147       204
63160     197
7551      141
63414     123
11071     107
         ...
313895      1
341537      1
38820       1
455401      1
348878      1
Name: ACCOUNT NUMBER, Length: 39586, dtype: int64
1      38172
2       7906
3       3285
4       1557
5        873
       ...
264        1
485        1
510        1
479        1
540        1
Name: SITE NUMBER, Length: 372, dtype: int64
WALGREEN CO.                          204
SP PLUS CORPORATION                   197
BOND DRUG COMPANY OF ILLINOIS, LLC    141
STARBUCKS CORPORATION                 123
FAMILY DOLLAR, INC.                   107
                                     ...
Peacock Elite Fitness Ltd.              1
MICHELLE FORD                           1
ALEX G. DAVID                           1
ACX INCORPORATED                        1
REDRIDGE FINANCE GROUP, LLC             1
Name: LEGAL NAME, Length: 39460, dtype: int64
SUBWAY                         123
DUNKIN DONUTS                  102
STANDARD PARKING                87
CITGO                           83
7-ELEVEN                        77
                              ...
EL BEBE ELEGANTE                 1
EEMCO                            1
SAM SYLK'S CHICKEN AND FISH      1
MINHAJ AKHTAR                    1
REDRIDGE FINANCE GROUP, LLC      1
Name: DOING BUSINESS AS NAME, Length: 41940, dtype: int64
[REDACTED FOR PRIVACY]             930
4100 S ASHLAND AVE                 151
4100 S ASHLAND AVE OUTDOOR 1050     76
2608 S DAMEN AVE                    55
4815-4835 W HARRISON ST             44
                                  ...
3601 W DEVON AVE  306                1
3136 N LINCOLN AVE 1ST               1
5802 N WASHTENAW AVE HSE             1
2032-2036 W DEVON AVE 1              1
333 W WACKER DR 9TH 920              1
Name: ADDRESS, Length: 43306, dtype: int64
CHICAGO         52938
SKOKIE             73
NORTHBROOK         67
CICERO             63
DES PLAINES        61
                ...
PORT ORCHARD        1
TREVOSE             1
ENID                1
TALLASSEE           1
MAKANDA             1
Name: CITY, Length: 951, dtype: int64
IL    56048
IN      188
CA       97
TX       96
NY       94
WI       72
FL       67
GA       67
OH       57
MI       57
MN       47
MO       45
PA       44
AZ       34
NV       30
VA       29
TN       28
CO       26
NJ       21
NC       21
MA       19
KY       19
IA       17
KS       16
WA       16
SC       14
OK       12
MD        9
NH        8
SD        8
AL        7
AR        6
CT        6
NE        6
DE        6
UT        6
LA        4
OR        3
RI        3
MS        3
ID        2
QC        2
ND        2
ON        1
MT        1
DC        1
NM        1
VT        1
WY        1
ME        1
Name: STATE, dtype: int64
60609    2031
60647    1975
60618    1912
60611    1868
60614    1773
         ...
89015       1
13032       1
49202       1
19382       1
62958       1
Name: ZIP CODE, Length: 1220, dtype: int64
42.0    7264
27.0    2745
25.0    1905
2.0     1740
12.0    1727
1.0     1695
47.0    1660
44.0    1525
32.0    1383
43.0    1198
11.0    1187
4.0     1139
41.0    1112
3.0     1085
45.0    1006
33.0     981
40.0     960
28.0     935
39.0     924
14.0     891
23.0     875
35.0     870
31.0     847
29.0     846
46.0     829
26.0     813
30.0     772
50.0     761
37.0     760
48.0     741
8.0      730
36.0     704
5.0      695
10.0     692
22.0     692
18.0     690
19.0     674
6.0      641
38.0     639
49.0     635
21.0     628
16.0     613
20.0     525
15.0     514
17.0     497
13.0     467
24.0     459
9.0      459
34.0     449
7.0      379
Name: WARD, dtype: int64
9.0       1982
27.0      1184
21.0      1018
6.0        999
14.0       920
          ...
74.0         6
71.0         6
72.0         5
4047.0       3
76.0         1
Name: PRECINCT, Length: 77, dtype: int64
42-      2022
42-9     1475
12-       835
27-       720
47-       462
         ...
41-9        1
21-9        1
48-36       1
5-30        1
32-26       1
Name: WARD PRECINCT, Length: 2536, dtype: int64
18.0    4206
1.0     4139
19.0    3825
12.0    3298
8.0     2655
9.0     2523
16.0    2427
25.0    2325
14.0    2301
17.0    2000
10.0    1439
24.0    1385
4.0     1187
20.0    1124
2.0     1044
6.0      917
22.0     895
11.0     823
3.0      641
15.0     538
5.0      523
7.0      461
13.0       4
31.0       1
81.0       1
0.0        1
Name: POLICE DISTRICT, dtype: int64
1010    18928
1006    11201
4404     9187
1475     2782
1781     2054
8340     1588
1474     1162
4406      974
1023      903
1470      837
7009      805
1050      790
1009      763
1477      692
8344      640
1003      599
1007      457
1275      433
1032      359
1625      336
1481      261
2101      213
7008      205
1683      195
1471      131
1476      116
1329       99
4405       98
8343       85
1253       80
1473       59
4409       58
1472       55
1594       53
7020       34
7030       32
1480       23
1070       20
8342       17
1082        8
1039        4
7003        4
3717        4
8604        4
8345        3
7013        3
7014        3
1833        2
7029        2
1075        2
7006        2
7002        1
1058        1
1330        1
7032        1
Name: LICENSE CODE, dtype: int64
Limited Business License                               18928
Retail Food Establishment                              11201
Regulated Business License                              9187
Consumption on Premises - Incidental Activity           2782
Tobacco                                                 2054
Motor Vehicle Services License                          1588
Package Goods                                           1162
Peddler License                                          974
Children's Services Facility License                     903
Tavern                                                   837
Pharmaceutical Representative                            805
Public Place of Amusement                                790
Manufacturing Establishments                             763
Outdoor Patio                                            692
Shared Kitchen User (Long Term)                          640
Commercial Garage                                        599
Wholesale Food Establishment                             457
Filling Station                                          433
Animal Care License                                      359
Raffles                                                  336
Caterer's Liquor License                                 261
Valet Parking Operator                                   213
Shared Housing Unit Operator                             205
Secondhand Dealer                                        195
Late Hour                                                131
Special Event Liquor                                     116
Special Event Food                                        99
Mobile Food License                                       98
Food - Shared Kitchen - Supplemental                      85
Explosives                                                80
Not-For-Profit Club                                       59
Pop-Up Retail User                                        58
Music and Dance                                           55
Pawnbroker                                                53
Commercial Passenger Vessel                               34
Towing - Tow Truck                                        32
Wrigley Field                                             23
Affiliation                                               20
Food - Shared Kitchen                                     17
License Manager                                            8
Bicycle Messenger Service                                  4
Transportation Network Provider                            4
Heliports                                                  4
Private Booting Registration                               4
Shared Kitchen User (Short Term)                           3
Pop-Up Establishment Host - Tier II                        3
Pop-Up Establishment Host - Tier III                       3
Weapons Dealer                                             2
Towing - Storage Lot                                       2
Taxicab Two-Way Dispatch Service License                   2
Short Term Residential Rental Intermediary                 2
Emerging Business                                          1
Indoor Special Event                                       1
Retail Food - Seasonal Lakefront Food Establishment        1
Scooter Sharing License                                    1
Name: LICENSE DESCRIPTION, dtype: int64
775                5152
638                2744
735                2082
781                1323
904                1262
                   ...
602 | 635 | 703       1
758 | 902             1
739 | 806             1
824 | 825             1
816 | 767             1
Name: BUSINESS ACTIVITY ID, Length: 2295, dtype: int64
Retail Sales of Perishable Foods                                                                                                                                                                                               5152
Consumption of Liquor on Premises                                                                                                                                                                                              2744
Preparation of Food and Dining on Premise With Seating                                                                                                                                                                         2082
Sale of Food Prepared Onsite With Dining Area                                                                                                                                                                                  1323
Retail Sales of General Merchandise                                                                                                                                                                                            1262
                                                                                                                                                                                                                               ...
Administrative Commercial Office | Commissioned Staffing of Professional, Secretarial and Clerical Work | Advertising / Marketing / Sales Office                                                                                  1
Residential Remodeling and Repair (Home Based Business) | Heating, Ventilation and Air Conditioning Services - Commercial                                                                                                         1
Printing Activities, Metal Processing |  Shipping / Printing Services                                                                                                                                                             1
Supervision of, and Care for, Children 2-6 Years of Age, During the Day between 6am-9pm With Before and After School Programs | Supervision of, and Care for, Children Under 2 Years of Age, During the Day between 6am-9pm       1
Storage or Use of Hazardous Materials | Retail Sales of General Merchandise and Non-Perishable Food                                                                                                                               1
Name: BUSINESS ACTIVITY, Length: 2295, dtype: int64
2600358    3
2152338    3
2216913    2
2589133    2
1873579    2
          ..
2608949    1
2766975    1
2463212    1
2574698    1
2840159    1
Name: LICENSE NUMBER, Length: 55583, dtype: int64
RENEW     45155
ISSUE     11196
C_LOC       920
C_EXPA       51
C_SBA        43
C_CAPA        4
Name: APPLICATION TYPE, dtype: int64
02/23/2022    64
08/20/2021    61
08/23/2021    61
07/01/2021    61
08/25/2021    50
              ..
10/03/2019     1
12/31/2018     1
02/04/2020     1
03/19/2019     1
06/13/2019     1
Name: APPLICATION CREATED DATE, Length: 781, dtype: int64
05/15/2021    2283
09/15/2021    2277
07/15/2021    2110
08/15/2021    2105
04/15/2021    2102
              ...
11/07/2019       1
03/15/2019       1
10/17/2019       1
12/24/2019       1
10/29/2018       1
Name: APPLICATION REQUIREMENTS COMPLETE, Length: 749, dtype: int64
07/15/2021    436
11/15/2021    424
07/06/2021    372
09/15/2021    352
07/14/2021    347
             ...
06/21/2019      1
05/17/2020      1
09/25/2019      1
07/11/2019      1
02/26/2020      1
Name: PAYMENT DATE, Length: 927, dtype: int64
N    56888
Y      481
Name: CONDITIONAL APPROVAL, dtype: int64
07/16/2021    2349
11/16/2021    2294
09/16/2021    2143
10/16/2021    2122
06/16/2021    2065
              ...
11/07/2020       1
05/26/2020       1
05/01/2020       1
10/31/2021       1
10/16/2022       1
Name: LICENSE TERM START DATE, Length: 542, dtype: int64
11/15/2022    2861
09/15/2022    2776
07/15/2023    2755
04/15/2023    2703
03/15/2023    2546
              ...
09/26/2022       1
09/24/2022       1
09/22/2022       1
09/21/2022       1
10/15/2024       1
Name: LICENSE TERM EXPIRATION DATE, Length: 135, dtype: int64
11/15/2021    436
07/15/2021    429
07/06/2021    359
07/14/2021    343
09/15/2021    336
             ...
05/24/2020      2
09/27/2020      2
04/26/2020      1
06/04/2019      1
08/10/2018      1
Name: LICENSE APPROVED FOR ISSUANCE, Length: 785, dtype: int64
11/16/2021    404
06/05/2020    375
07/16/2021    349
09/16/2021    337
01/18/2022    294
             ...
06/26/2021      1
02/13/2021      1
01/31/2021      1
01/30/2021      1
06/01/2020      1
Name: DATE ISSUED, Length: 576, dtype: int64
AAI    57369
Name: LICENSE STATUS, dtype: int64
Series([], Name: LICENSE STATUS CHANGE DATE, dtype: int64)
33.0    1183
10.0     963
17.0     665
31.0     588
3.0      565
1.0      561
27.0     547
8.0      536
34.0     533
60.0     514
29.0     498
25.0     466
38.0     444
43.0     389
51.0     383
50.0     354
21.0     320
39.0     319
61.0     317
26.0     315
13.0     311
22.0     285
23.0     285
24.0     271
35.0     254
42.0     225
59.0     216
20.0     197
18.0     176
2.0      157
14.0     146
49.0     145
47.0     139
48.0     137
69.0     137
28.0     137
32.0     131
5.0      130
45.0     113
54.0     106
4.0      100
63.0      99
40.0      98
56.0      91
55.0      90
19.0      90
16.0      86
41.0      64
52.0      47
44.0      36
62.0      36
7.0       23
64.0       8
Name: SSA, dtype: int64
41.819441    734
42.008536    260
41.881922    110
41.888074    104
41.902332     85
            ...
41.978353      1
41.906970      1
41.817136      1
41.997142      1
41.844296      1
Name: LATITUDE, Length: 31263, dtype: int64
-87.665376    734
-87.914428    260
-87.626063    110
-87.634955    104
-87.740459     85
             ...
-87.681360      1
-87.663466      1
-87.671909      1
-87.606860      1
-87.712958      1
Name: LONGITUDE, Length: 31267, dtype: int64
(41.81944142629576, -87.6653755449091)      734
(42.008536400868735, -87.91442843927047)    260
(41.88192156256051, -87.62606305984501)     110
(41.8880742810662, -87.63495520292739)      104
(41.902331662977616, -87.74045894485229)     85
                                           ...
(41.94329055361639, -87.68135990294003)       1
(41.978353103881595, -87.66346557323776)      1
(41.90697032145404, -87.67190864203754)       1
(41.81713617425935, -87.60685990202305)       1
(41.84429589516473, -87.71295760845332)       1
Name: LOCATION, Length: 31269, dtype: int64

In [7]:
#seperating the data by type

int_data = data.select_dtypes('int')
float_data = data.select_dtypes('float')
object_data = data.select_dtypes('object')

print(int_data.shape)
print(float_data.shape)
print(object_data.shape)

(57369, 5)
(57369, 7)
(57369, 22)

In [8]:
#converting data into correct type
#data['APPLICATION CREATED DATE'] = data['APPLICATION CREATED DATE'].astype(str)
data['APPLICATION CREATED DATE NEW'] = pd.to_datetime(data['APPLICATION CREATED DATE'], format='%m/%d/%Y', errors = 'coerce')

In [15]:
#data['DOING BUSINESS AS NAME'].astype(str).describe()
data['SSA'].value_counts()

33.0    1183
10.0     963
17.0     665
31.0     588
3.0      565
1.0      561
27.0     547
8.0      536
34.0     533
60.0     514
29.0     498
25.0     466
38.0     444
43.0     389
51.0     383
50.0     354
21.0     320
39.0     319
61.0     317
26.0     315
13.0     311
22.0     285
23.0     285
24.0     271
35.0     254
42.0     225
59.0     216
20.0     197
18.0     176
2.0      157
14.0     146
49.0     145
47.0     139
48.0     137
69.0     137
28.0     137
32.0     131
5.0      130
45.0     113
54.0     106
4.0      100
63.0      99
40.0      98
56.0      91
55.0      90
19.0      90
16.0      86
41.0      64
52.0      47
44.0      36
62.0      36
7.0       23
64.0       8
Name: SSA, dtype: int64

Chicago Buisness list Task 1 analysis.

I am doing the appropriate analyzers for each of the relevant variables within the data frame.

ID:
Type: text
Unique Entries: 57368
Missing: 0
Except for two tha match under the id:2823191-20211208. Upon lookup in the table in sql the two observaions are identical except LICENSE ID, BUSINESS ACTIVITY ID and PAYMENT DATE was null in one of them. This could be a misteak or a double entry.

LICENSE ID:
Type: integer
Unique: 57369 (all)
Missing: 0
Smallest id:2102725, Largest: 2851375
Each license has a unique LICENSE ID assigned to it.

ACCOUNT NUMBER:
Type: integer
Unique: 39586
Missing: 0
This is the account number of the owner of the business which explains why there are repeats within this column as multiple licenses under the owner.

SITE NUMBER:
Type: integer
Unique: 372
Missing: 0
Range: 1 to 540
The 5 zones with the most business license:
1      38172
2       7906
3       3285
4       1557
5        873

LEGAL NAME:
Type: text
Unique: 39460
Missing: 0